  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="card-panel red lighten-4">

        <div class="container">

                <div class="row">

                    <div>


                        <form class="form-horizontal" role="form">


                             <input type="text" name="name" id="name">

                             <textarea name="discription" id="description"> </textarea>

                             <input type="number" minlen="10" maxlen="10" name="phonenumber">

                             <input type="text" name="longitude" id="longitude>

                             <input type="text" name="latitude" id="latitude">

                             <input type="text" name="waittime" id="waittime">

                             <a onclick="submitFrom();" class="waves-effect waves-light btn">button</a>

                         </form>

                    </div>


                </div>

        </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="/js/materialize.min.js"></script>

      <script type="text/javascript">

        function submitFrom(){

            var data = $('.form-horizontal').serialize()

            $.ajax({
                type: "POST",
                url: 'http://localhost:3000/api/resturent',
                data: data,
                success: function(response){

                   //var result = $.map(response, function(el) { return el });

                   console.log(response);

                }
            });

        }

      </script>

    </body>
  </html>