<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form method="post" action="api/resturent">

    <input type="text" name="name" value=""> <br />

    <textarea name=""description ></textare><br />

    <input type="number" minlen="10" name="phonenumber"> <br />

    <input type="file" name="image"

    <input type="submit" name="submit" value="submit"> <br />


    </form>


  </body>
</html>
